{% extends "admin/adminlayout.html" %} 
{% block main %}
<div class="container-fluid mt-4">

    <!-- Üst Kısım: Yemek Ekleme Formu -->
    <div class="row mb-4">
        <div class="col-md-12">
            <h3 class="text-center">Yemek Ekle</h3>
            
            <div class="form-group">
                <label for="image">Seçilen Resim</label><br>
                <img src="../../static/img/noImage.jpg" 
                        alt="photo" class="img-thumbnail mb-3" style="width: 150px; height: 150px;" onclick="showPopup()">
            </div>
            
            <div class="form-group">
                <label for="foodName">Yemek İsmi</label>
                <input type="text" class="form-control" id="foodName" name="foodName" placeholder="Yemek İsmi" required>
            </div>
            <div class="form-group">
                <label for="foodText">Açıklama</label>
                <textarea class="form-control" id="foodText" name="foodText" rows="4" placeholder="Yemek Hakkında Bilgi" required></textarea>
            </div>
            <a type="button" class="btn btn-primary" onclick="addfood()">Yemek Ekle</a>
        </div>
    </div>

    <!-- Alt Kısım: Kayıtlı Yemekler Tablosu -->
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center mb-4">Kayıtlı Yemekler</h3>
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Yemek İsmi</th>
                        <th>Resim</th>
                        <th>Açıklama</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for food in foods %}
                        <tr id="food-{{ food.id }}">
                            <td>{{ food.label }}</td>
                            <td>
                                <img src="{{ food.path if food.path else '../../static/img/noImage.jpg' }}" alt="food image" class="img-thumbnail" style="width: 100px; height: 100px;">
                            </td>
                            <td>{{ food.text }}</td>
                            <td>
                                <a href="/updatefood/{{food.id}}" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i>Düzenle</a>
                                <button type="button" class="btn btn-sm btn-danger" data-id="{{ food.id }}"  onclick="deletefood(this)"><i class="fa fa-trash"></i> Sil</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="popup-background" id="popup" style="display: none;">
        <div class="popup-content">
            <button class="close-btn kapat" id="closePopup"><h3>X</h3></button>
            <div>
                <h3>Media Seç</h3>
            </div>
            <div>
                <table>
                    <tr>
                        <th><p>dosyadan seçme</p></th>
                        <th><p>bilgisayardan seçme</p></th>
                    </tr>
                    <tbody>
                        <td>
                            <select name="" id="imageSelect">
                                <option selected disabled></option>
                                {% for image in all_images %}
                                    {% if image: %}
                                        <option value="{{image}}">{{image}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <input type="file" id="imageInput" accept="image/*">
                        </td>
                    </tbody>
                </table>
            </div>
            <div>
                <button class="guncelle-btn" onclick="updateMedia(filename = 'foods')">Güncelle</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="../../static/js/popup.js"></script>
<script src="../../static/js/updatemedia.js"></script>
<script>
    var foodName = document.getElementById("foodName");
    var foodText = document.getElementById("foodText");
    function addfood()
    {
        formData.append('foodName', foodName.value);
        formData.append('foodText', foodText.value);

        $.ajax({
            url: "/foodsadd", 
            type: "POST",
            data: formData,
            processData: false,  // FormData kullanıldığı için veri işlenmez
            contentType: false,  // ContentType otomatik olarak ayarlanır
            success: function(response) {
                if (response.status === "success") {
                    alert(response.message);
                    location.reload();
                } else {
                    alert(response.message);
                }
            },
            error: function(error) {
                console.log("Hata: ", error);
                alert("Bir hata oluştu.");
            }
        });
    }

    function deletefood(button)
    {
        let foodId = button.getAttribute('data-id');
        let row = document.getElementById('food-' + foodId);
        let formData = new FormData();
        formData.append('foodid', foodId);
        console.log("Silinecek ID: ", foodId);
        $.ajax({
            url: "/deletefood", 
            type: "POST",
            data: formData,
            processData: false,  // FormData ile çalışırken bu iki ayarı false yap
            contentType: false,
            success: function(response) {
                row.remove();
                alert("Yemek başarıyla silindi.");

            },
            error: function(error) {
                console.log("Hata: ", error);
            }
        });
    }
</script>
{% endblock %}
