{% extends "admin/adminlayout.html" %}
{% block main %}
<div class="container mt-4">
    <ul class="nav nav-tabs" id="settingsTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="main-tab" data-bs-toggle="tab" data-bs-target="#main" type="button"
                role="tab" aria-controls="main" aria-selected="true">Ana Sayfa</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="services-tab" data-bs-toggle="tab" data-bs-target="#services" type="button"
                role="tab" aria-controls="services" aria-selected="false">Hizmetler Sayfa</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="archive-tab" data-bs-toggle="tab" data-bs-target="#archive" type="button"
                role="tab" aria-controls="archive" aria-selected="false">Arşiv Sayfa</button>
        </li>
    </ul>
    <div class="tab-content mt-3" id="settingsTabContent">
        <div class="tab-pane fade show active" id="main" role="tabpanel" aria-labelledby="main-tab">
            {% set titles = ["maintitle", "services", "software", "aboutus"] %}
            {% for title in titles %}
                <div class="container-fluid border mb-3">
                    <h3>{{ title | capitalize }}</h3>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Text Message</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for text in texts %}
                                {% if text.title == title and text.page_name == "mainpage" %}
                                    <tr>
                                        <td>{{ text.text_message }}</td>
                                        <td>
                                            <a href="/updatetextandmedia/{{ text.id }}" class="btn btn-sm btn-primary">
                                                <i class="fa fa-pencil"></i> Düzenle
                                            </a>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                    <!-- Sadece ilgili gruba ait ve mainpage'e ait resimleri göster -->
                    <div class="text-center mt-3">
                        {% for media in medias %}
                            {% if media.title == title and media.page_name == "mainpage" and media.image_path %}
                                <img src="{{ media.image_path }}" id="mediaphoto" alt="Image" class="img-fluid m-2" data-id="{{ media.id }}" onclick="showPopup(this)" style="max-width: 200px;">
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
        
        <div class="tab-pane fade" id="services" role="tabpanel" aria-labelledby="services-tab">
            {% set titles = ["servicetitle", "computer", "food", "game", "steam", "speedtest", "maintenanceservice", "servishizmetler", "cafephotos"] %}
            {% for title in titles %}
                <div class="container-fluid border mb-3">
                    <h3>{{ title | capitalize }}</h3>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Text Message</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for text in texts %}
                                {% if text.title == title and text.page_name == "servicespage" %}
                                    <tr>
                                        <td>{{ text.text_message }}</td>
                                        <td>
                                            <a href="/updatetextandmedia/{{ text.id }}" class="btn btn-sm btn-primary">
                                                <i class="fa fa-pencil"></i> Düzenle
                                            </a>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                    <!-- Sadece ilgili gruba ait ve mainpage'e ait resimleri göster -->
                    <div class="text-center mt-3">
                        {% for media in medias %}
                            {% if media.title == title and media.page_name == "servicespage" and media.image_path %}
                                <img src="{{ media.image_path }}" alt="Image" class="img-fluid m-2" onclick="showPopup()" style="max-width: 200px;">
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
        
        <div class="tab-pane fade" id="archive" role="tabpanel" aria-labelledby="archive-tab">
            {% set titles = ["cafephotos"] %}
            {% for title in titles %}
                <div class="container-fluid border mb-3">
                    <h3>{{ title | capitalize }}</h3>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Text Message</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for text in texts %}
                                {% if text.title == title and text.page_name == "archivepage" %}
                                    <tr>
                                        <td>{{ text.text_message }}</td>
                                        <td>
                                            <a href="/updatetextandmedia/{{ text.id }}" class="btn btn-sm btn-primary">
                                                <i class="fa fa-pencil"></i> Düzenle
                                            </a>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                    <!-- Sadece ilgili gruba ait ve mainpage'e ait resimleri göster -->
                    <div class="text-center mt-3">
                        {% for media in medias %}
                            {% if media.title == title and media.page_name == "archivepage" and media.image_path %}
                                <img src="{{ media.image_path }}" alt="Image" class="img-fluid m-2" onclick="showPopup()" style="max-width: 200px;">
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="popup-background" id="popup" style="display: none;">
    <div class="popup-content">
        <button class="close-btn kapat" id="closePopup"><h3>X</h3></button>
        <div>
            <h3>Media Seç</h3>
        </div>
        <div>
            <table>
                <tr>
                    <th><p>dosyadan seçme</p></th>
                    <th><p>bilgisayardan seçme</p></th>
                </tr>
                <tbody>
                    <td>
                        <select name="" id="imageSelect">
                            <option selected disabled></option>
                            {% for image in all_images_main %}
                                {% if image: %}
                                    <option value="{{image}}">{{image}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <input type="file" id="imageInput" accept="image/*">
                    </td>
                </tbody>
            </table>
        </div>
        <div>
            <button class="guncelle-btn" onclick="updateMedia()">Güncelle</button>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="../../static/js/popup.js"></script>
<!-- <script src="../../static/js/updatemedia.js"></script> -->
<script>
    var imageSelect = document.getElementById('imageSelect');
    var imageInput = document.getElementById('imageInput');

    function updateMedia() {
        if (imageSelect.value) 
            formData.append('image_name', imageSelect.value);
        else if (imageInput.files[0])
            formData.append('image_file', imageInput.files[0]);
        $.ajax({
            url: "/indexa", 
            type: "POST",
            data: formData,
            processData: false,  // FormData kullanıldığı için veri işlenmez
            contentType: false,  // ContentType otomatik olarak ayarlanır
            success: function(response) {
                if (response.status === "success") {
                    alert(response.message);
                    window.location.href = "/indexa";
                } else {
                    alert(response.message);
                }
            },
            error: function(error) {
                console.log("Hata: ", error);
                alert("Bir hata oluştu.");
            }
        });
    }
    
    document.addEventListener("DOMContentLoaded", function () {
        const tabs = document.querySelectorAll("#settingsTab .nav-link");
        const tabPanes = document.querySelectorAll(".tab-pane");

        tabs.forEach(tab => {
            tab.addEventListener("click", function (e) {
                e.preventDefault();

                // Tüm sekmeleri pasif hale getir
                tabs.forEach(t => t.classList.remove("active"));
                tabPanes.forEach(pane => pane.classList.remove("show", "active"));

                // Seçilen sekmeyi aktif hale getir
                this.classList.add("active");
                const targetPane = document.querySelector(this.dataset.bsTarget);
                targetPane.classList.add("show", "active");
            });
        });
    });
</script>
{% endblock %}