{% extends "admin/adminlayout.html" %} 
{% block main %}
<div class="container mt-4"> 
    <h3 class="mb-4">Ana Sayfa Düzenleme</h3> 
    <table class="table table-bordered table-striped"> 
        <thead class="thead-dark"> 
            <tr> 
                <th>Başlık</th> 
                <th>Fotoğraf</th> 
                <th>Yazı</th> 
                <th>İşlem</th> 
            </tr> 
        </thead> 
        <tbody> 
            {% for mt in mediawithtext %}
                <tr>
                    <td>{{ mt.label }}</td>
                    <td>
                        <img src=" {% if mt.path:%}{{ mt.path}} {% else:%} ../static/img/noImage.jpg {% endif %}" alt="photo" class="img-thumbnail" style="width: 100px; height: 100px;">
                    </td>
                    <td>
                        {{ mt.text1 }}
                        <hr> <br>
                        {{ mt.text2 }}
                    </td>
                    <td>
                        <a href="/updatemainpage/{{mt.id}}" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i>Düzenle</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody> 
    </table> 
</div>
{% endblock %}
