{% extends "adminlayout.html" %}

{% block main %}
<div class="container mt-4">
    <h3 class="mb-4">Yeni Veri Tablosu</h3>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                {% for column in computers[0].__table__.columns %}
                    {% if column.key != 'id' %}
                        <th>{{ column.key | capitalize }}</th>
                    {% endif %}
                {% endfor %}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for computer in computers %}
                <tr>
                    {% for column in computer.__table__.columns %}
                        {% if column.key != 'id' %}
                            {% if column.key == 'path' %}
                                <td>
                                    <img src="{{ computer.path }}" alt="food image" class="img-thumbnail" style="width: 100px; height: 100px;">
                                </td>
                            {% else %}
                                <td>{{ computer[column.name] }}</td> <!-- column.name ile sütun adını alıyoruz -->
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <td>
                        <button class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i> Edit</button>
                        <button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> Delete</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
