{% extends "adminlayout.html" %}

{% block main %}
<form action="/cafeattributea" method="post">
    <div class="maintitle">
        <label for="maintitle">HİZMETLER BAŞLIK</label>
        <div class="form-group">
            <div class="textfield">
                {% for item in articles %}
                    {% if item.group_name == "maintitle" %}
                        <div class="textandlabel">
                            <label for="{{item.label}}">{{item.label}}</label>
                            <input type="text" autocomplete="off" class="form-control" id="{{ item.id_name }}" value="{{ item.text if item.text }}">
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
  
    <div class="hizmettitle">
        <label for="hizmetler">BİLGİSAYAR PARÇALARI</label>
        <div class="form-group">
            <div class="photoandvideo">
                {% for m in media %}
                    {% if m.group_name == "vipgaming" %}
                        <div class="changemedia">
                            <img src="{{ m.path }}" alt="Dost Oyun Merkezi">
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="textfield">
                {% for item in articles %}
                    {% if item.group_name == "vipgaming" %}
                        <div class="textandlabel">
                            <label for="{{item.label}}">{{item.label}}</label>
                            <input type="text" autocomplete="off" class="form-control" id="{{ item.id_name }}" value="{{ item.text if item.text }}">
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="hakkimizda">
        <label for="hizmetler"></label>
        <div class="form-group">
            <div class="photoandvideo">
                {% for m in media %}
                    {% if m.group_name == "goldgaming" %}
                        <div class="changemedia">
                            <img src="{{ m.path }}" class="mainpage" alt="Dost Oyun Merkezi">
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="textfield">
                {% for item in articles %}
                    {% if item.group_name == "goldgaming" %}
                        <div class="textandlabel">
                            <label for="{{item.label}}">{{item.label}}</label>
                            <input type="text" autocomplete="off" class="form-control" id="{{ item.id_name }}" value="{{ item.text if item.text }}">
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</form>
<div class="popup-background" id="popup">
    <div class="popup-content">
        <button class="close-btn kapat" id="closePopup"><h3>X</h3></button>
        <div>
            <h3>Media Seç</h3>
        </div>
        <div>
            
            <table>
                <tr>
                    <th><p>dosyadan seçme</p></th>
                    <th><p>bilgisayardan seçme</p></th>
                </tr>
                <tbody>
                    <td>
                        <select name="imageSelect" id="imageSelect">
                            <option disabled selected></option>
                            {% for m in media %}
                                {% if m.group_name == "hizmetler" and m.active == false%}
                                    <option value="{{m.file_name}}">{{m.file_name}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <input type="file" id="imageInput" accept="image/*">
                    </td>
                </tbody>
            </table>
        </div>
        <div>
            <button class="guncelle-btn" onclick="updateMedia()">Güncelle</button>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../static/js/changeText.js"></script>
<script src="../static/js/media.js"></script>

{% endblock %}