{% extends "adminlayout.html" %}

{% block main %}
<div class="container mt-4">
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Başlık</th>
                <th>Resim</th>
                <th>Ekran Kartı</th>
                <th>Ana Kart</th>
                <th>Soğutucu</th>
                <th>Fare</th>
                <th>Kulaklık</th>
                <th>İşlemci</th>
                <th>RAM</th>
                <th>Ekran</th>
                <th>Klavye</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>
            {% for computer in computers %}
                <tr>
                    {% for column in computer.__table__.columns %}
                        {% if column.key != 'id' %}
                            {% if column.key == 'path' %}
                                <td>
                                    <img src="{{ computer.path }}" alt="food image" class="img-thumbnail" style="width: 100px; height: 100px;">
                                </td>
                            {% else %}
                                <td>{{ computer[column.name] }}</td> <!-- column.name ile sütun adını alıyoruz -->
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <td>
                        <a href="/updatecomputerfields/{{computer.id}}" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i>Düzenle</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
