{% extends "admin/adminlayout.html" %} 
{% block main %}
<div class="container-fluid mt-4">
    <h3 class="mb-4">Veri Düzenle</h3>
    <!-- Label -->
    <div class="form-group">
        <label for="label">Yemek İsmi</label>
        <input type="text" name="label" id="label" class="form-control" value="{{ foods.label }}">
    </div>
    
    <div class="form-group">
        <label for="image">Mevcut Resim</label><br>
        <img  src="../{{ foods.path if foods.path else '../../static/img/noImage.jpg' }}" 
                alt="photo" class="img-thumbnail mb-3" style="width: 150px; height: 150px;" onclick="showPopup()">
    </div>
    
    <div class="form-group">
        <label for="text">Yemek Açıklama</label>
        <textarea name="text" id="text" class="form-control" rows="4">{{ foods.text }}</textarea>
    </div>
    
    <button type="submit" onclick="updatefood()" class="btn btn-success">Güncelle</button>
    <a href="/foodsadd" class="btn btn-secondary">İptal</a>
</div>

<div class="popup-background" id="popup" style="display: none;">
    <div class="popup-content">
        <button class="close-btn kapat" id="closePopup"><h3>X</h3></button>
        <div>
            <h3>Media Seç</h3>
        </div>
        <div>
            <table>
                <tr>
                    <th><p>dosyadan seçme</p></th>
                    <th><p>bilgisayardan seçme</p></th>
                </tr>
                <tbody>
                    <td>
                        <select name="" id="photoSelect">
                            <option selected disabled></option>
                            {% for image in all_images %}
                                {% if image: %}
                                    <option value="{{image}}">{{image}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <input type="file" id="photoInput" accept="image/*">
                    </td>
                </tbody>
            </table>
        </div>
        <div>
            <button class="guncelle-btn" onclick="updateMedia()">Güncelle</button>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
    var popup = document.getElementById("popup");
    var closePopup = document.getElementById("closePopup");
    var photoSelect = document.getElementById('photoSelect');
    var photoInput = document.getElementById('photoInput');
    var label = document.getElementById("label");
    var text = document.getElementById("text");
    let formData = new FormData();
    var path = window.location.pathname;
    var id = path.split('/')[2];

    function showPopup() {
        document.getElementById("popup").style.display = "flex";
    }
    function offPopup() {
        popup.style.display = "none";
    }
    closePopup.addEventListener("click", offPopup);
    function updateMedia() {
        const previewImage = document.querySelector(".img-thumbnail"); // Önizleme resmi

        if (photoSelect.value) {
            formData.delete('image_name');
            formData.append('image_name', photoSelect.value);
            previewImage.src = "../../static/img/foods/" + photoSelect.value;
        } else if (photoInput.files[0]) {
            formData.delete('image_file');

            formData.append('image_file', photoInput.files[0]);
            
            const fileReader = new FileReader();
            fileReader.onload = function(event) {
                previewImage.src = event.target.result;
            };
            fileReader.readAsDataURL(photoInput.files[0]);
        }
        offPopup();
    }

    function updatefood()
    {   
        formData.append('id', id);
        formData.append('label', label.value);
        formData.append('text', text.value);
        console.log(formData.get('label'));
        console.log(formData.get('text'));
        console.log(formData.get('id'));
        $.ajax({
            url: "/updatefood/" + id, 
            type: "POST",
            data: formData,
            processData: false,  // FormData kullanıldığı için veri işlenmez
            contentType: false,  // ContentType otomatik olarak ayarlanır
            success: function(response) {
                if (response.status === "success") {
                    alert(response.message);
                    window.location.href = "/foodsadd";
                } else {
                    alert(response.message);
                }
            },
            error: function(error) {
                console.log("Hata: ", error);
            }
        });
    }

</script>
{% endblock %}
