{% extends "admin/adminlayout.html" %} 
{% block main %}
<div class="container-fluid mt-4">
    <div class="form-group">
        <label for="text">Yazı</label>
        <textarea autocomplete="off" name="text" id="text" class="form-control" rows="4">{{text.text_message}}</textarea>
    </div>
    <a onclick="updatetextandmedia()" class="btn btn-success">Güncelle</button>
    <a href="/indexa" class="btn btn-secondary">İptal</a>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="../../../static/js/popup.js"></script>
<script src="../../../static/js/updatemedia.js"></script>
<script>
    var label = document.getElementById("label");
    var text = document.getElementById("text");
    var path = window.location.pathname;
    var id = path.split('/')[2];
    
    function updatetextandmedia()
    {
        formData.append('id', id);
        formData.append('text', text.value);
        $.ajax({
            url: "/updatetextandmedia/" + id, 
            type: "POST",
            data: formData,
            processData: false,  // FormData kullanıldığı için veri işlenmez
            contentType: false,  // ContentType otomatik olarak ayarlanır
            success: function(response) {
                if (response.status === "success") {
                    alert(response.message);
                    window.location.href = "/indexa";
                } else {
                    alert(response.message);
                }
            },
            error: function(error) {
                console.log("Hata: ", error);
                alert("Bir hata oluştu.");
            }
        });
    }

</script>
{% endblock %}
