{%extends "users/layout.html" %}
{% block main %}
    <main>
        <div class="mainHizmet">
            <img class="mainPageImg" src="../assets/img/sliders/20.jpeg" alt="main">
            <div class="overlay dark"></div>

            <div class="main-textHiz">
                <div class="mainTextInsideHiz">
                    <h1>KAFEMİZ</h1>

                    <h2><span>DOST</span> OYUN MERKEZİ</h2>

                    <p>Yanımızda olduğunuz için teşekkür ederiz. Sizlere daima en iyi hizmeti sunmaya devam edeceğiz.</p>
                </div>
            </div>
        </div>
    </main>
    

    <section id="bilgisayarParcalari" class="hakkSec">
        <div class="baslik">
            <h2><span>Bilgisayar</span></h2>
        </div>
        <div class="hakkInside">
            
            {% for computer in computerfields %}
                <div class="hakkMetin">
                    <img src="{{ computer.path if computer.path else '../../static/img/noImage.jpg' }}"  alt="Bilgisayarlar">
                    <div class="vip-gaming-container">
                        <div class="row-vip">
                            <div class="vip-title">
                                <span class="vipclr">{{ computer.label }}</span>
                            </div>
                        </div>
                    
                        <div class="row-vip specs">
                            <div class="spec-item">
                                <span class="vipclr">Ekran Kartı:</span>
                                <span>{{ computer.videocard }}</span>
                            </div>
                            <div class="spec-item">
                                <span class="vipclr">İşlemci:</span>
                                <span>{{ computer.processor }}</span>
                            </div>
                        </div>
                        
                        <div class="row-vip specs">
                            <div class="spec-item">
                                <span class="vipclr">Ana Kart:</span>
                                <span>{{ computer.mothercard }}</span>
                            </div>
                            <div class="spec-item">
                                <span class="vipclr">RAM:</span>
                                <span>{{ computer.ram }}</span>
                            </div>
                        </div>
                    
                        <div class="row-vip specs">
                            <div class="spec-item">
                                <span class="vipclr">Soğutma:</span>
                                <span>{{ computer.freez }}</span>
                            </div>
                            <div class="spec-item">
                                <span class="vipclr">Ekran:</span>
                                <span>{{ computer.screen }}</span>
                            </div>
                        </div>
                        <div class="row-vip specs">
                            <div class="spec-item">
                                <span class="vipclr">Mouse:</span>
                                <span>{{ computer.mouse }}</span>
                            </div>
                            <div class="spec-item">
                                <span class="vipclr">Klavye:</span>
                                <span>{{ computer.keyboard }}</span>
                            </div>
                        </div>
                    
                        <div class="row-vip specs">
                            <div class="spec-item">
                                <span class="vipclr">Kulaklık:</span>
                                <span>{{ computer.headphone }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>     
    </section>

    <!-- FPS YAZ. -->
    <!-- Masalar Area End -->

    <!-- ======================================================= -->

    <!-- Yiyecekler Area Start -->

    <section id="yiyecek" class="hakkSec">
        <div class="baslik">
            <h2><span>Yiyecek</span> Hizmeti</h2>
        </div>
        <div class="hakkInside">
            <div class="hakkMetin">

                <div class="vip-gaming-container mt-0 mb-30">
                    <div class="row-vip">
                        <div class="vip-title center-text">
                            <span class="whytclr">Atıştırmalıklarımız</span>
                        </div>
                    </div>
                </div>

                <img class="sc-down" src="static/img/sliders/12.webp" alt="Tost"> 
                
            </div>
            <div class="hakkMetin">

                <div class="vip-gaming-container mt-0 mb-30">
                    <div class="row-vip">
                        <div class="vip-title center-text">
                            <span class="whytclr">İçeceklerimiz</span>
                        </div>
                    </div>
                </div>
                
                <img class="sc-down" src="static/img/sliders/13.webp" alt="Tost Double">

            </div>
        </div>
        <div class="hakkInside">
            <div class="hakkMetin w-100">
                <div class="tableArea clrbgblue">
                    <div class="rowx">
                        {% for food in foods %}
                            <div class="yicekYeni">
                                <img src="{{ food.path if food.path else '../../static/img/noImage.jpg' }}" alt="{{food.label}}"> 
                                <div class="yicekYenitext">
                                    <h2>{{food.label}}</h2>
                                    <ul>
                                        {{food.text}}
                                    </ul>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                
            </div>
        </div>     
    </section>

    <!-- Yiyecekler Area End -->

    <!-- ======================================================= -->

    <!-- Oyun Hesaplari Area Start -->

    <!-- 
            
        Özel Oyunlarımız bunun usutn   ( Oyunlarımız )

        Bir de
        Oynadığınız oyunlarda kaldığınız yerden devam edin!
        Oyunlarınızı kaydedip, tekrar geldiğinizde bıraktığınız yerden devam edebilirsiniz.
    
    -->
    <section id="oyunHesap" class="hakkSec">
        <div class="baslik">
            <h2><span>Özel</span> Oyunlarımız</h2>
        </div>
        <div class="hakkInside">
            <div class="hakkMetin w-100">
                <div class="button-container">
                    {% for game in games %}
                        <button class="btnOyunOzel" data-target="{{game.id}}">
                            <img src="{{ game.iconpath if game.iconpath else '../../static/img/noImage.jpg' }}" alt="{{game.label}}">{{game.label}}
                        </button>
                    {% endfor %}
                </div>
                <div class="contentOyun">
                    {% for game in games %}
                        <div class="dataOzel" data-groups="{{game.id}}">
                            <img src="{{ game.photopath if game.photopath else '../../static/img/noImage.jpg' }}" alt="{{game.label}}">
                            <div class="dataText">
                                <div class="modlar">
                                    {{game.text}}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <div class="baslik">
            <h2><span>Steam</span> Hesapları</h2>
        </div>
        <div class="hakkInside">
            <div class="hakkMetin w-100">
                <div class="button-container">
                    {% for steamgame in steamgames %}
                        <button class="btnOyun" data-target="{{steamgame.id}}">{{steamgame.steamname}}</button>
                    {% endfor %}
                </div>
            
                <div class="contentOyun">
                    {% for steamgame in steamgames %}
                        <div class="data" data-groups="{{steamgame.id}}">
                            <img src="{{steamgame.imagepath}}" alt="{{steamgame.gamename}}">
                            <p>{{steamgame.gamename}}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>     
    </section>

    <!-- Oyun Hesaplari Area End -->
     
    <!-- ======================================================= -->

    <!-- Speed Area Start -->

    <section id="internet" class="hakkSec">
        <!-- buraya eklenecekler güvenli internet gibi şeyler -->
        <div class="baslik">
            <h2><span>Hız</span> Testi</h2>
        </div>
        <div class="hakkInside">
            <div class="hakkMetin">
                <h2>Kesintisiz Hız, Maksimum Performans</h2>
                <p>İnternet kafemizde, kesintisiz ve yüksek hızda internet deneyimi sunuyoruz. İki ayrı internet bağlantımız sayesinde, oyunlarınızda asla ping sorunu yaşamazsınız.
                     Düşük ping, hızlı indirme ve kesintisiz bağlantı ile keyifli vakit geçirebilirsiniz. Yüksek bant genişliğimiz sayesinde her an hızlı ve akıcı internet erişimi sağlıyoruz; hız testlerimiz de bunu kanıtlıyor. 
                     Sizlere en iyi oyun ve internet deneyimini sunmak için altyapımızı sürekli olarak güncelliyoruz.</p>
            </div>
            <!-- yusufum bakarsın -->
            <div class="hakkMetin">
                <img src="static/img/SpeedTest.webp" style="object-fit: scale-down;" alt="SpeedTest">
            </div>
        </div>
        <div class="baslik">
            <h2>Oyunlardan Alınan Pingler</h2>
        </div>
        <div class="hakkInside pingTable">
            <div class="pingTableImageDiv"> 
                <img src="static/img/ping/valorant.webp" alt="">
                <h2 style="color: white;">2MS</h2>
            </div>
            <div class="pingTableImageDiv"> 
                <img src="static/img/ping/lol.webp" alt="">
                <h2 style="color: white;">2MS</h2>
            </div>
            <div class="pingTableImageDiv">
                <img src="static/img/ping/csgo.webp" alt="">
                <h2 style="color: white;">38MS</h2>
            </div>
            <div class="pingTableImageDiv">
                <img src="static/img/ping/pubg.webp" alt="">
                <h2 style="color: white;">38MS</h2>
            </div>
        </div>
    </section>
    
<!--  oyunlardan alınan pingler -->
    <!-- Speed Area End -->

    <!-- ======================================================= -->

    <!-- Bilgisayar Bakim Area Start -->

    <section id="bakimServisi" class="hakkSec">
        <div class="baslik">
            <h2><span>Bakım</span> Servisi</h2>
        </div>
        <div class="hakkInside">
            <div class="hakkMetin w-100">
                <img src="static/img/hizmetler/fixInside.webp" alt="hakkimizda">

                <h2 class="mt-30">Servis Hizmetlerimiz</h2>

                <div class="rowx mt-0 mb-30">
                    {% for service in services %}
                        <div class="datax">
                            <div class="rowTableImg">
                                <img src="{{service.imagepath}}" alt="{{service.name}}"> 
                                <span>{{service.name}}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a  href="https://wa.me/905302090732?text=Merhaba,kolay gelsin." target="_blank" class="customBtn rez-btn">Daha Fazlası İçin Bize Ulaşın</a>
            </div>
        </div>     
    </section>

    <!-- Bilgisayar Bakim Area End -->

    <!-- ======================================================= -->

    <!-- Galeri Area Start -->

    <section id="galeri" class="hizmetSec">
        <div class="baslik">
            <h2><span>Kafe</span> Görselleri</h2>
        </div>
        <div class="hizmetInside imgHizmetInside">
            <img src="static/img/sliders/01.webp" alt="">
            <img src="static/img/sliders/02.webp" alt="">
            <img src="static/img/sliders/03.webp" alt="">
            <img src="static/img/sliders/04.webp" alt="">
            <img src="static/img/sliders/05.webp" alt="">
            <img src="static/img/sliders/06.webp" alt="">
            <img src="static/img/sliders/07.webp" alt="">
            <img src="static/img/sliders/08.webp" alt="">
            <img src="static/img/sliders/09.webp" alt="">
            <img src="static/img/sliders/10.webp" alt="">
            <img src="static/img/sliders/11.webp" alt="">
            <img src="static/img/sliders/14.webp" alt="">
            <img src="static/img/sliders/15.webp" alt="">
            <img src="static/img/sliders/16.webp" alt="">
            <img src="static/img/sliders/17.webp" alt="">
            <img src="static/img/sliders/18.webp" alt="">
            <img src="static/img/sliders/19.webp" alt="">
            <img src="static/img/sliders/20.webp" alt="">
            <img src="static/img/sliders/21.webp" alt="">
        </div>
    </section>
    
    <script src="../../static/js/oyunHesap.js"></script>
{% endblock %}