{%extends "users/layout.html" %}
{% block main %}
    <main>
        <div class="mainHizmet">
            <img class="mainPageImg" src="../assets/img/sliders/20.jpeg" alt="main">
            <div class="overlay dark"></div>

            <div class="main-textHiz">
                <div class="mainTextInsideHiz">
                    <h1>KAFEMİZ</h1>

                    <h2><span>DOST</span> OYUN MERKEZİ</h2>

                    <p>Yanımızda olduğunuz için teşekkür ederiz. Sizlere daima en iyi hizmeti sunmaya devam edeceğiz.</p>
                </div>
            </div>
        </div>
    </main>
    

    <section id="bilgisayarParcalari" class="hakkSec">
        <div class="baslik">
            <h2><span>Bilgisayar</span></h2>
        </div>
        <div class="hakkInside">
            
            {% for computer in computerfields %}
                <div class="hakkMetin">
                    <img src="{{ computer.path if computer.path else '../../static/img/noImage.jpg' }}"  alt="Bilgisayarlar">
                    <div class="vip-gaming-container">
                        <div class="row-vip">
                            <div class="vip-title">
                                <span class="vipclr">{{ computer.label }}</span>
                            </div>
                        </div>
                    
                        <div class="row-vip specs">
                            <div class="spec-item">
                                <span class="vipclr">Ekran Kartı:</span>
                                <span>{{ computer.videocard }}</span>
                            </div>
                            <div class="spec-item">
                                <span class="vipclr">İşlemci:</span>
                                <span>{{ computer.processor }}</span>
                            </div>
                        </div>
                        
                        <div class="row-vip specs">
                            <div class="spec-item">
                                <span class="vipclr">Ana Kart:</span>
                                <span>{{ computer.mothercard }}</span>
                            </div>
                            <div class="spec-item">
                                <span class="vipclr">RAM:</span>
                                <span>{{ computer.ram }}</span>
                            </div>
                        </div>
                    
                        <div class="row-vip specs">
                            <div class="spec-item">
                                <span class="vipclr">Soğutma:</span>
                                <span>{{ computer.freez }}</span>
                            </div>
                            <div class="spec-item">
                                <span class="vipclr">Ekran:</span>
                                <span>{{ computer.screen }}</span>
                            </div>
                        </div>
                        <div class="row-vip specs">
                            <div class="spec-item">
                                <span class="vipclr">Mouse:</span>
                                <span>{{ computer.mouse }}</span>
                            </div>
                            <div class="spec-item">
                                <span class="vipclr">Klavye:</span>
                                <span>{{ computer.keyboard }}</span>
                            </div>
                        </div>
                    
                        <div class="row-vip specs">
                            <div class="spec-item">
                                <span class="vipclr">Kulaklık:</span>
                                <span>{{ computer.headphone }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>     
    </section>

    <!-- FPS YAZ. -->
    <!-- Masalar Area End -->

    <!-- ======================================================= -->

    <!-- Yiyecekler Area Start -->

    <section id="yiyecek" class="hakkSec">
        <div class="baslik">
            <h2><span>Yiyecek</span> Hizmeti</h2>
        </div>
        <div class="hakkInside">
            <div class="hakkMetin">

                <div class="vip-gaming-container mt-0 mb-30">
                    <div class="row-vip">
                        <div class="vip-title center-text">
                            <span class="whytclr">Atıştırmalıklarımız</span>
                        </div>
                    </div>
                </div>

                <img class="sc-down" src="static/img/sliders/12.webp" alt="Tost"> 
                
            </div>
            <div class="hakkMetin">

                <div class="vip-gaming-container mt-0 mb-30">
                    <div class="row-vip">
                        <div class="vip-title center-text">
                            <span class="whytclr">İçeceklerimiz</span>
                        </div>
                    </div>
                </div>
                
                <img class="sc-down" src="static/img/sliders/13.webp" alt="Tost Double">

            </div>
        </div>
        <div class="hakkInside">
            <div class="hakkMetin w-100">
                <div class="tableArea clrbgblue">
                    <div class="rowx">
                        {% for food in foods %}
                            <div class="yicekYeni">
                                <img src="{{ food.path if food.path else '../../static/img/noImage.jpg' }}" alt="{{food.label}}"> 
                                <div class="yicekYenitext">
                                    <h2>{{food.label}}</h2>
                                    <ul>
                                        {{food.text}}
                                    </ul>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                
            </div>
        </div>     
    </section>

    <!-- Yiyecekler Area End -->

    <!-- ======================================================= -->

    <!-- Oyun Hesaplari Area Start -->

    <!-- 
            
        Özel Oyunlarımız bunun usutn   ( Oyunlarımız )

        Bir de
        Oynadığınız oyunlarda kaldığınız yerden devam edin!
        Oyunlarınızı kaydedip, tekrar geldiğinizde bıraktığınız yerden devam edebilirsiniz.
    
    -->
    <section id="oyunHesap" class="hakkSec">
        <div class="baslik">
            <h2><span>Özel</span> Oyunlarımız</h2>
        </div>
        <div class="hakkInside">
            <div class="hakkMetin w-100">
                <div class="button-container">
                    {% for game in games %}
                        <button class="btnOyunOzel" data-target="{{game.id}}">
                            <img src="{{ game.iconpath if game.iconpath else '../../static/img/noImage.jpg' }}" alt="{{game.label}}">{{game.label}}
                        </button>
                    {% endfor %}
                </div>
                <div class="contentOyun">
                    {% for game in games %}
                        <div class="dataOzel" data-groups="{{game.id}}">
                            <img src="{{ game.photopath if game.photopath else '../../static/img/noImage.jpg' }}" alt="{{game.label}}">
                            <div class="dataText">
                                <div class="modlar">
                                    {{game.text}}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <div class="baslik">
            <h2><span>Steam</span> Hesapları</h2>
        </div>
        <div class="hakkInside">
            <div class="hakkMetin w-100">
                <div class="button-container">
                    <button class="btnOyun" data-target="1">dostcafe1</button>
                    <button class="btnOyun" data-target="2">dostcafe3</button>
                    <button class="btnOyun" data-target="3">dostcafe4</button>
                    <button class="btnOyun" data-target="4">dostcafe6</button>
                    <button class="btnOyun" data-target="5">dostcafe7</button>
                    <button class="btnOyun" data-target="6">dostkafe1</button>
                    <button class="btnOyun" data-target="7">dostkafe2</button>
                    <button class="btnOyun" data-target="8">dostkafe3</button>
                    <button class="btnOyun" data-target="9">dostkafe6</button>
                    <button class="btnOyun" data-target="10">dostkafe8</button>
                    <button class="btnOyun" data-target="11">dostkafe9</button>
                    <button class="btnOyun" data-target="12">dostleft1</button>
                    <button class="btnOyun" data-target="13">dostleft2</button>
                    <button class="btnOyun" data-target="14">dostleft3</button>
                    <button class="btnOyun" data-target="15">dostleft4</button>
                    <button class="btnOyun" data-target="16">dostoyun</button>
                    <button class="btnOyun" data-target="17">dostoyun1</button>
                    <button class="btnOyun" data-target="18">dostoyun2</button>
                    <button class="btnOyun" data-target="19">dostoyun3</button>
                    <button class="btnOyun" data-target="20">dostgta1</button>
                    <button class="btnOyun" data-target="21">dostgta2</button>
                    <button class="btnOyun" data-target="22">tarabya456</button>
                    <button class="btnOyun" data-target="23">forzahorizon</button>
                    <button class="btnOyun" data-target="24">dostbattelfield</button>
                    <button class="btnOyun" data-target="25">dostbattelfield1</button>
                </div>
            
                <div class="contentOyun">
                    
                    <div class="data" data-groups="1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25">
                        <img src="static/img/oyunlar/apex.webp" alt="apex">
                        <p>Apex Legends</p>
                    </div>
                    <div class="data" data-groups="1,24,25">
                        <img src="static/img/oyunlar/arma3.webp" alt="ARMA 3">
                        <p>ARMA 3</p>
                    </div>
                    <div class="data" data-groups="1,4,16,18,24,25">
                        <img src="static/img/oyunlar/Battlefield1.webp" alt="Battlefield 1">
                        <p>Battlefield 1</p>
                    </div>
                    <div class="data" data-groups="1,16,18,24,25">
                        <img src="static/img/oyunlar/Battlefield_4.webp" alt="Battlefield 4">
                        <p>Battlefield 4</p>
                    </div>
                    <div class="data" data-groups="1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25">
                        <img src="static/img/oyunlar/BattleriteMask.webp" alt="Battlerite">
                        <p>Battlerite</p>
                    </div>
                    <div class="data" data-groups="1,2,3,4,5,6,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25">
                        <img src="static/img/oyunlar/bsquad.webp" alt="Black Squad">
                        <p>Black Squad</p>
                    </div>
                    <div class="data" data-groups="1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25">
                        <img src="static/img/oyunlar/channels4_profile.webp" alt="Brawlhalla">
                        <p>Brawlhalla</p>
                    </div>
                    <div class="data" data-groups="1,2,3,4,5,6,7,8,9,10,11,16,17,18,20,21">
                        <img src="static/img/oyunlar/cod.webp" alt="Call of Duty®">
                        <p>Call of Duty®</p>
                    </div>
                    <div class="data" data-groups="1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25">
                        <img src="static/img/oyunlar/cs2.webp" alt="Counter-Strike 2">
                        <p>Counter-Strike 2</p>
                    </div>
                    <div class="data" data-groups="1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25">
                        <img src="static/img/oyunlar/crabgame.webp" alt="Crab Game">
                        <p>Crab Game</p>
                    </div>
                    <div class="data" data-groups="1,18,25">
                        <img src="static/img/oyunlar/256x256.webp" alt="Cyberpunk 2077">
                        <p>Cyberpunk 2077</p>
                    </div>
                    <div class="data" data-groups="1,2,3,4,5,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25">
                        <img src="static/img/oyunlar/dota.webp" alt="Dota 2">
                        <p>Dota 2</p>
                    </div>
                    <div class="data" data-groups="1,2,16">
                        <img src="static/img/oyunlar/fifa23.webp" alt="EA SPORTS™ FIFA 23">
                        <p>EA SPORTS™ FIFA 23</p>
                    </div>
                    <div class="data" data-groups="1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25">
                        <img src="static/img/oyunlar/efutboll2024.webp" alt="eFootball™ 2024">
                        <p>eFootball™ 2024</p>
                    </div>
                    <div class="data" data-groups="1,18">
                        <img src="static/img/oyunlar/erzurum.webp" alt="Erzurum">
                        <p>Erzurum</p>
                    </div>
                    <div class="data" data-groups="1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25">
                        <img src="static/img/oyunlar/finals.webp" alt="THE FINALS">
                        <p>THE FINALS</p>
                    </div>
                    <div class="data" data-groups="1,2,16,17,18,19,23">
                        <img src="static/img/oyunlar/fh4.webp" alt="Forza Horizon 4">
                        <p>Forza Horizon 4</p>
                    </div>
                    <div class="data" data-groups="1,6,16,18,19,20,21,24">
                        <img src="static/img/oyunlar/gta5.webp" alt="Grand Theft Auto V">
                        <p>Grand Theft Auto V</p>
                    </div>
                    <div class="data" data-groups="1,2,3,4,5,6,7,8,9,10,11,12,16,17,18,19,20,21,22">
                        <img src="static/img/oyunlar/Half-Life.webp" alt="Half-Life">
                        <p>Half-Life</p>
                    </div>
                    <div class="data" data-groups="1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25">
                        <img src="static/img/oyunlar/HAWKED.webp" alt="HAWKED">
                        <p>HAWKED</p>
                    </div>
                    <div class="data" data-groups="1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25">
                        <img src="static/img/oyunlar/Path-of-Exile-Symbol.webp" alt="Path of Exile">
                        <p>Path of Exile</p>
                    </div>
                    <div class="data" data-groups="1,2,6,7,8,16,18">
                        <img src="static/img/oyunlar/payday-2-icon.webp" alt="PAYDAY 2">
                        <p>PAYDAY 2</p>
                    </div>
                    <div class="data" data-groups="1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,20,21,22,23,24,25">
                        <img src="static/img/oyunlar/6-1-591921-52.webp" alt="Pro Evolution Soccer 2016 myClub">
                        <p>Pro Evolution Soccer 2016 myClub</p>
                    </div>
                    <div class="data" data-groups="1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25">
                        <img src="static/img/oyunlar/2d39a5dc82c7daa18282c2ba38ec17f9.webp" alt="PUBG: BATTLEGROUNDS">
                        <p>PUBG: BATTLEGROUNDS</p>
                    </div>
                    <div class="data" data-groups="1">
                        <img src="static/img/oyunlar/307765063_457236769758567_2067036372396764137_n.webp" alt="RUMBLE">
                        <p>RUMBLE</p>
                    </div>
                    <div class="data" data-groups="1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25">
                        <img src="static/img/oyunlar/capsule_616x353.webp" alt="Skala">
                        <p>Skala</p>
                    </div>
                    <div class="data" data-groups="1">
                        <img src="static/img/oyunlar/tekken7.webp" alt="TEKKEN 7">
                        <p>TEKKEN 7</p>
                    </div>
                    <div class="data" data-groups="1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25">
                        <img src="static/img/oyunlar/a58fcc1787d9144.webp" alt="Unturned">
                        <p>Unturned</p>
                    </div>
                    <div class="data" data-groups="1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25">
                        <img src="static/img/oyunlar/z1.webp" alt="Z1 Battle Royale">
                        <p>Z1 Battle Royale</p>
                    </div>
                    <div class="data" data-groups="2,3">
                        <img src="static/img/oyunlar/ycc9mvji9sm71.webp" alt="Assassin's Creed Origins">
                        <p>Assassin's Creed Origins</p>
                    </div>
                    <div class="data" data-groups="2">
                        <img src="static/img/oyunlar/Logo-Assetto-Corsa-Competizione.webp" alt="Assetto Corsa Competizione">
                        <p>Assetto Corsa Competizione</p>
                    </div>
                    <div class="data" data-groups="2">
                        <img src="static/img/oyunlar/cc9d87a13467050cb3669b7c59c307a3_350x200_3x-0.webp" alt="Call of Duty: Black Ops III">
                        <p>Call of Duty: Black Ops III</p>
                    </div>
                    <div class="data" data-groups="2">
                        <img src="static/img/oyunlar/icon0.webp" alt="The Crew">
                        <p>The Crew</p>
                    </div>
                    <div class="data" data-groups="2,17,18">
                        <img src="static/img/oyunlar/the-crew_170210.webp" alt="The Crew 2">
                        <p>The Crew 2</p>
                    </div>
                    <div class="data" data-groups="2,5,17,18,19">
                        <img src="static/img/oyunlar/86ebc43444cdf451b149e5de84ff3ef5.webp" alt="Euro Truck Simulator 2">
                        <p>Euro Truck Simulator 2</p>
                    </div>
                    <div class="data" data-groups="2,17">
                        <img src="static/img/oyunlar/10080-0-1455866940.webp" alt="Fallout 4">
                        <p>Fallout 4</p>
                    </div>
                    <div class="data" data-groups="2,3,19">
                        <img src="static/img/oyunlar/5370a89529590e2c8da9eba08bc8fc49b44dfedd.webp" alt="Far Cry 5">
                        <p>Far Cry 5</p>
                    </div>
                    <div class="data" data-groups="2,17">
                        <img src="static/img/oyunlar/17pb0gjy25y71.webp" alt="Forza Horizon 5">
                        <p>Forza Horizon 5</p>
                    </div>
                    <div class="data" data-groups="2,16">
                        <img src="static/img/oyunlar/d4c2e4a3297fe25a71d030b67eb83bfc.webp" alt="Grand Theft Auto IV">
                        <p>Grand Theft Auto IV</p>
                    </div>
                    <div class="data" data-groups="2">
                        <img src="static/img/oyunlar/nfsh-featured-image-generic-pattern.jpg.adapt.crop191x100.1200w.webp" alt="Need for Speed™ Heat">
                        <p>Need for Speed™ Heat</p>
                    </div>
                    <div class="data" data-groups="1,3,4,18">
                        <img src="static/img/oyunlar/eedbd9b3af0c2f5a78daeb8c2c84d240.webp" alt="Dying Light">
                        <p>Dying Light</p>
                    </div>
                    <div class="data" data-groups="1,3,4,18">
                        <img src="static/img/oyunlar/fs17.webp" alt="Farming Simulator 17">
                        <p>Farming Simulator 17</p>
                    </div>
                    <div class="data" data-groups="1,3,4">
                        <img src="static/img/oyunlar/dcwvtuk-ba34913b-1984-46cd-8291-75453f60ad87.webp" alt="Mount & Blade: Warband">
                        <p>Mount & Blade: Warband</p>
                    </div>
                    <div class="data" data-groups="5,16,18,19">
                        <img src="static/img/oyunlar/scum-supporter-pack-oynasana-839974_1200x1200.webp" alt="SCUM">
                        <p>SCUM</p>
                    </div>
                    <div class="data" data-groups="5,17,18,19">
                        <img src="static/img/oyunlar/hqdefault.webp" alt="Tom Clancy's Rainbow Six: Siege">
                        <p>Tom Clancy's Rainbow Six: Siege</p>
                    </div>
                    <div class="data" data-groups="6,8">
                        <img src="static/img/oyunlar/motogp-13---button-1547841019447.webp" alt="MotoGP™13">
                        <p>MotoGP™13</p>
                    </div>
                    <div class="data" data-groups="6,16,18">
                        <img src="static/img/oyunlar/170164325-66a86226-3a3b-4def-9f27-a5ed00c1734e.webp" alt="Vampire Survivors">
                        <p>Vampire Survivors</p>
                    </div>
                    <div class="data" data-groups="12,13,14,15,16,20,21">
                        <img src="static/img/oyunlar/hit-and-boom-1mu63.webp" alt="Hit and Boom">
                        <p>Hit and Boom</p>
                    </div>
                    <div class="data" data-groups="12,13,14,15">
                        <img src="static/img/oyunlar/374d0ee164c2197c4976ebe31b9f6269.webp" alt="Left 4 Dead">
                        <p>Left 4 Dead</p>
                    </div>
                    <div class="data" data-groups="5,12,13,14,15,16,18,19">
                        <img src="static/img/oyunlar/8efb100a295c0c690931222ff4467bb8.webp" alt="Left 4 Dead 2">
                        <p>Left 4 Dead 2</p>
                    </div>
                    <div class="data" data-groups="16">
                        <img src="static/img/oyunlar/ageofemp.webp" alt="Age of Empires 2 Definitive Edition">
                        <p>Age of Empires 2 Definitive Edition</p>
                    </div>
                    <div class="data" data-groups="">
                        <img src="static/img/oyunlar/just-realized-the-cities-in-the-games-logo-is-the-same-font-v0-p3bxc1ywaq0a1.webp" alt="">
                        <p></p>
                    </div><div class="data" data-groups="16,19">
                        <img src="static/img/oyunlar/just-realized-the-cities-in-the-games-logo-is-the-same-font-v0-p3bxc1ywaq0a1.webp" alt="Cities: Skylines">
                        <p>Cities: Skylines</p>
                    </div>
                    <div class="data" data-groups="16">
                        <img src="static/img/oyunlar/It_Takes_Two.webp" alt="It Takes Two">
                        <p>It Takes Two</p>
                    </div>
                    <div class="data" data-groups="16">
                        <img src="static/img/oyunlar/co4ehd.webp" alt="New Super Lucky's Tale">
                        <p>New Super Lucky's Tale</p>
                    </div>
                    <div class="data" data-groups="16">
                        <img src="static/img/oyunlar/2e65f2f2fdaf6c699b223c61b1b5ab89.webp" alt="Red Dead Redemption 2">
                        <p>Red Dead Redemption 2</p>
                    </div>
                    <div class="data" data-groups="16,18">
                        <img src="static/img/oyunlar/3e5fa5d77c90f90b0ddb3c43f64c2a78.webp" alt="Sniper Elite 4">
                        <p>Sniper Elite 4</p>
                    </div>
                    <div class="data" data-groups="16">
                        <img src="static/img/oyunlar/dctf5mq-494a265b-6f5a-46af-b0e5-bc1f22756ada.webp" alt="Super Lucky's Tale">
                        <p>Super Lucky's Tale</p>
                    </div>
                    <div class="data" data-groups="16,18">
                        <img src="static/img/oyunlar/d162afc49f55985d7a550edc9f2864aa.webp" alt="Transformice">
                        <p>Transformice</p>
                    </div>
                    <div class="data" data-groups="16,18">
                        <img src="static/img/oyunlar/zombiearmy4.webp" alt="Zombie Army 4 Dead War">
                        <p>Zombie Army 4 Dead War</p>
                    </div><div class="data" data-groups="16">
                        <img src="static/img/oyunlar/Zombie_Army_Trilogy.webp" alt="Zombie Army Trilogy">
                        <p>Zombie Army Trilogy</p>
                    </div>
                    <div class="data" data-groups="17">
                        <img src="static/img/oyunlar/651a3259baaf804e52bc991dff04111b.webp" alt="Battlefield V">
                        <p>Battlefield V</p>
                    </div>
                    <div class="data" data-groups="18">
                        <img src="static/img/oyunlar/2YaxiFpp_400x400.webp" alt="Assetto Corsa">
                        <p>Assetto Corsa</p>
                    </div>
                    <div class="data" data-groups="18,19">
                        <img src="static/img/oyunlar/EGS_Back4Blood_TurtleRockStudios_S2-1200x1600-0cd4ac84bb5491a81aa6ebfcbea9dfbf.webp" alt="Back 4 Blood">
                        <p>Back 4 Blood</p>
                    </div>
                    <div class="data" data-groups="18,19">
                        <img src="static/img/oyunlar/fRSlORXQtD9G6vYbUDvKPj8w.webp" alt="Car Mechanic Simulator 2021">
                        <p>Car Mechanic Simulator 2021</p>
                    </div>
                    <div class="data" data-groups="18">
                        <img src="static/img/oyunlar/a4b066c891d600e9c36bd2fa6eb242c346a79cb1.webp" alt="City Bus Manager">
                        <p>City Bus Manager</p>
                    </div>
                    <div class="data" data-groups="18">
                        <img src="static/img/oyunlar/d2arvqb-5d4deb9a-3632-41e3-a2b0-87a95dd578c8.webp" alt="Cossacks: Back To War">
                        <p>Cossacks: Back To War</p>
                    </div>
                    <div class="data" data-groups="18,19">
                        <img src="static/img/oyunlar/deadbydaylight.webp" alt="Dead by Daylight">
                        <p>Dead by Daylight</p>
                    </div>
                    <div class="data" data-groups="18">
                        <img src="static/img/oyunlar/e8da6d326d9dd901bce129d5bcdfde63.webp" alt="Detroit: Become Human">
                        <p>Detroit: Become Human</p>
                    </div>
                    <div class="data" data-groups="18,19">
                        <img src="static/img/oyunlar/72e3f9cd8eefa4fbe57d52aed64ad9ab-l.webp" alt="Dying Light 2">
                        <p>Dying Light 2</p>
                    </div><div class="data" data-groups="18">
                        <img src="static/img/oyunlar/911ab169c2439cbc201acc1e13d557eb.webp" alt="F1 22">
                        <p>F1 22</p>
                    </div>
                    <div class="data" data-groups="18,19">
                        <img src="static/img/oyunlar/farming-simulator-15_d7fy.webp" alt="Farming Simulator 15">
                        <p>Farming Simulator 15</p>
                    </div>
                    <div class="data" data-groups="18">
                        <img src="static/img/oyunlar/5ae27b96ba06ef01e17018eb5e82caf7_icon.webp" alt="Fling to the Finish">
                        <p>Fling to the Finish</p>
                    </div>
                    <div class="data" data-groups="18">
                        <img src="static/img/oyunlar/forest.webp" alt="The Forest">
                        <p>The Forest</p>
                    </div>
                    <div class="data" data-groups="18">
                        <img src="static/img/oyunlar/090088a74009ca9c3f5e9f08e3a8059b-l.webp" alt="Green Hell">
                        <p>Green Hell</p>
                    </div>
                    <div class="data" data-groups="18">
                        <img src="static/img/oyunlar/spiderman.webp" alt="Marvel's Spider-Man Remastered">
                        <p>Marvel's Spider-Man Remastered</p>
                    </div>
                    <div class="data" data-groups="18">
                        <img src="static/img/oyunlar/Mortal-Kombat-11.webp" alt="Mortal Kombat 11">
                        <p>Mortal Kombat 11</p>
                    </div>
                    <div class="data" data-groups="18">
                        <img src="static/img/oyunlar/uHqwmIZB.webp" alt="MotoGP 21">
                        <p>MotoGP 21</p>
                    </div>
                    <div class="data" data-groups="18">
                        <img src="static/img/oyunlar/294427725_466421052158057_1348672782568576618_n.webp" alt="Motorcycle Mechanic Simulator 2021">
                        <p>Motorcycle Mechanic Simulator 2021</p>
                    </div>
                    <div class="data" data-groups="18">
                        <img src="static/img/oyunlar/hv9KU4HX_400x400.webp" alt="Ranch Simulator">
                        <p>Ranch Simulator</p>
                    </div>
                    <div class="data" data-groups="18">
                        <img src="static/img/oyunlar/squad-game9698.webp" alt="Squad">
                        <p>Squad</p>
                    </div>
                    <div class="data" data-groups="18">
                        <img src="static/img/oyunlar/trine4.webp" alt="Trine 4 The Nightmare Prince">
                        <p>Trine 4 The Nightmare Prince</p>
                    </div>
                    <div class="data" data-groups="18,24,25">
                        <img src="static/img/oyunlar/zulakategori_1fb9159ae2bca2f5ab4c8fb287fe85df.webp" alt="Zula">
                        <p>Zula</p>
                    </div>
                    <div class="data" data-groups="19">
                        <img src="static/img/oyunlar/Core-Keeper.webp" alt="Core Keeper">
                        <p>Core Keeper</p>
                    </div>
                    <div class="data" data-groups="19">
                        <img src="static/img/oyunlar/oOQj7fYPJMJv657LTrt8qvDp.webp" alt="F1 Manager 2022">
                        <p>F1 Manager 2022</p>
                    </div>
                    <div class="data" data-groups="19">
                        <img src="static/img/oyunlar/4E2BQXbe6ArXunsKvcyziEaT0pOryWIb.webp" alt="Goat Simulator">
                        <p>Goat Simulator</p>
                    </div>
                    <div class="data" data-groups="19">
                        <img src="static/img/oyunlar/capsule_hidden.webp" alt="Hidden Cube World Top-Down 3D">
                        <p>Hidden Cube World Top-Down 3D</p>
                    </div>
                    <div class="data" data-groups="19">
                        <img src="static/img/oyunlar/fe8jiL5pHOLyF8DbRrJXOlYE.webp" alt="Police Simulator: Patrol Officers">
                        <p>Police Simulator: Patrol Officers</p>
                    </div>
                    <div class="data" data-groups="18,19">
                        <img src="static/img/oyunlar/c291b01517f3e6797c774c306591cc32.webp" alt="Rust">
                        <p>Rust</p>
                    </div>
                </div>
            </div>
        </div>     
    </section>

    <!-- Oyun Hesaplari Area End -->
     
    <!-- ======================================================= -->

    <!-- Speed Area Start -->

    <section id="internet" class="hakkSec">
        <!-- buraya eklenecekler güvenli internet gibi şeyler -->
        <div class="baslik">
            <h2><span>Hız</span> Testi</h2>
        </div>
        <div class="hakkInside">
            <div class="hakkMetin">
                <h2>Kesintisiz Hız, Maksimum Performans</h2>
                <p>İnternet kafemizde, kesintisiz ve yüksek hızda internet deneyimi sunuyoruz. İki ayrı internet bağlantımız sayesinde, oyunlarınızda asla ping sorunu yaşamazsınız.
                     Düşük ping, hızlı indirme ve kesintisiz bağlantı ile keyifli vakit geçirebilirsiniz. Yüksek bant genişliğimiz sayesinde her an hızlı ve akıcı internet erişimi sağlıyoruz; hız testlerimiz de bunu kanıtlıyor. 
                     Sizlere en iyi oyun ve internet deneyimini sunmak için altyapımızı sürekli olarak güncelliyoruz.</p>
            </div>
            <!-- yusufum bakarsın -->
            <div class="hakkMetin">
                <img src="static/img/SpeedTest.webp" style="object-fit: scale-down;" alt="SpeedTest">
            </div>
        </div>
        <div class="baslik">
            <h2>Oyunlardan Alınan Pingler</h2>
        </div>
        <div class="hakkInside pingTable">
            <div class="pingTableImageDiv"> 
                <img src="static/img/ping/valorant.webp" alt="">
                <h2 style="color: white;">2MS</h2>
            </div>
            <div class="pingTableImageDiv"> 
                <img src="static/img/ping/lol.webp" alt="">
                <h2 style="color: white;">2MS</h2>
            </div>
            <div class="pingTableImageDiv">
                <img src="static/img/ping/csgo.webp" alt="">
                <h2 style="color: white;">38MS</h2>
            </div>
            <div class="pingTableImageDiv">
                <img src="static/img/ping/pubg.webp" alt="">
                <h2 style="color: white;">38MS</h2>
            </div>
        </div>
    </section>
    
<!--  oyunlardan alınan pingler -->
    <!-- Speed Area End -->

    <!-- ======================================================= -->

    <!-- Bilgisayar Bakim Area Start -->

    <section id="bakimServisi" class="hakkSec">
        <div class="baslik">
            <h2><span>Bakım</span> Servisi</h2>
        </div>
        <div class="hakkInside">
            <div class="hakkMetin w-100">
                <img src="static/img/hizmetler/fixInside.webp" alt="hakkimizda">

                <h2 class="mt-30">Servis Hizmetlerimiz</h2>

                <div class="rowx mt-0 mb-30">
                    <div class="datax">
                        <div class="rowTableImg">
                            <img src="static/img/hizmetler/fixInside.webp" alt="Bilgisayar Tamiri"> 
                            <span>Bilgisayar Tamiri</span>
                        </div>
                    </div>
                    <div class="datax">
                        <div class="rowTableImg">
                            <img src="static/img/tamir/clean.webp" alt="Bilgisayar Bakımı"> 
                            <span>Bilgisayar Bakımı</span>
                        </div>
                    </div>
                    <div class="datax">
                        <div class="rowTableImg">
                            <img src="static/img/tamir/Repair_or_replace_laptop.webp" alt="Laptop Tamiri"> 
                            <span>Laptop Tamiri</span>
                        </div>
                    </div>
                    <div class="datax">
                        <div class="rowTableImg">
                            <img src="static/img/tamir/Laptop-Motherboard-Repairs.webp" alt="Anakart Tamiri"> 
                            <span>Anakart Tamiri</span>
                        </div>
                    </div>
                    <div class="datax">
                        <div class="rowTableImg">
                            <img src="static/img/tamir/virusfix.webp" alt="Virüs Temizliği"> 
                            <span>Virüs Temizliği</span>
                        </div>
                    </div>
                    <div class="datax">
                        <div class="rowTableImg">
                            <img src="static/img/tamir/microsoft-windows.webp" alt="Bilgisayar Formatı"> 
                            <span>Bilgisayar Formatı</span>
                        </div>
                    </div>
                    <div class="datax">
                        <div class="rowTableImg">
                            <img src="static/img/tamir/289813385.webp" alt="Parça Tedariği"> 
                            <span>Parça Tedariği</span>
                        </div>
                    </div>
                    <div class="datax">
                        <div class="rowTableImg">
                            <img src="static/img/tamir/monitortest.webp" alt="Ekran Tamiri"> 
                            <span>Ekran Tamiri</span>
                        </div>
                    </div>
                    <div class="datax">
                        <div class="rowTableImg">
                            <img src="static/img/tamir/cards.webp" alt="Parça Değişimi"> 
                            <span>Parça Değişimi</span>
                        </div>
                    </div>
                    <div class="datax">
                        <div class="rowTableImg">
                            <img src="static/img/tamir/fastcomp.webp" alt="Bilgisayar Hızlandırma"> 
                            <span>Bilgisayar Hızlandırma</span>
                        </div>
                    </div>
                    <div class="datax">
                        <div class="rowTableImg">
                            <img src="static/img/tamir/ikincielalim.webp" alt="İkinci El Alım-Satım"> 
                            <span>İkinci El Alım-Satım</span>
                        </div>
                    </div>
                    <div class="datax">
                        <div class="rowTableImg">
                            <img src="static/img/tamir/newcomputer.webp" alt="Sıfır ürün Alım-Satım"> 
                            <span>Sıfır ürün Alım-Satım</span>
                        </div>
                    </div>
                </div>
                <a  href="https://wa.me/905302090732?text=Merhaba,kolay gelsin." target="_blank" class="customBtn rez-btn">Daha Fazlası İçin Bize Ulaşın</a>
            </div>
        </div>     
    </section>

    <!-- Bilgisayar Bakim Area End -->

    <!-- ======================================================= -->

    <!-- Galeri Area Start -->

    <section id="galeri" class="hizmetSec">
        <div class="baslik">
            <h2><span>Kafe</span> Görselleri</h2>
        </div>
        <div class="hizmetInside imgHizmetInside">
            <img src="static/img/sliders/01.webp" alt="">
            <img src="static/img/sliders/02.webp" alt="">
            <img src="static/img/sliders/03.webp" alt="">
            <img src="static/img/sliders/04.webp" alt="">
            <img src="static/img/sliders/05.webp" alt="">
            <img src="static/img/sliders/06.webp" alt="">
            <img src="static/img/sliders/07.webp" alt="">
            <img src="static/img/sliders/08.webp" alt="">
            <img src="static/img/sliders/09.webp" alt="">
            <img src="static/img/sliders/10.webp" alt="">
            <img src="static/img/sliders/11.webp" alt="">
            <img src="static/img/sliders/14.webp" alt="">
            <img src="static/img/sliders/15.webp" alt="">
            <img src="static/img/sliders/16.webp" alt="">
            <img src="static/img/sliders/17.webp" alt="">
            <img src="static/img/sliders/18.webp" alt="">
            <img src="static/img/sliders/19.webp" alt="">
            <img src="static/img/sliders/20.webp" alt="">
            <img src="static/img/sliders/21.webp" alt="">
        </div>
    </section>
    
    <script src="../../static/js/oyunHesap.js"></script>
{% endblock %}